@import 'n-normalize/main';
@import 'o-colors/main';

$font-sans: MetricWeb, sans-serif;
$font-serif: Georgia, serif;
$font-display: FinancierDisplayWeb, Georgia, serif;

body {
  @include oColorsFor(page, background);

  margin: 0;
  border: 0;
  font-family: $font-sans;
}


.site-header {
  padding: 18px 0 14px;
  text-align: center;
  border-bottom: 1px solid #e9decf;

  > a {
    opacity: 0.75;
    &:hover { opacity: 1; }
  }
}
    .masthead {
      height: 18px;
    }

  h1 {
    font-family: $font-display;
    font-weight: normal;
    text-align: center;
    font-size: 2.5em;
    margin: 1.2rem 0 0.6rem;
  }
  h2 {
    font-family: $font-display;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    font-size: 1.5em;
    margin: 1.2rem 0 0.6rem;
  }

  h6 {
  max-width: 600px;
  margin: 0 auto;
  color: oColorsGetPaletteColor('pink-tint5');
  font-weight: 200;
  text-align: center;
  margin-top: 1em;
  font-size: 0.875em;
  > .bullet {
    margin: 0 10px;
    }
  }

p {
  font-family: $font-serif;
  max-width: 660px;
  margin: 1em auto;
  padding: 0 10px;
}

text {
  font-family: $font-sans;
}

.viz {
  margin: 0 auto;
}

rect {
  stroke-width: 1px;
  stroke: #ccc;
}

.label { 
  text-anchor: end; 
}
.chart-title { 
  font-size: 21px;
  display:block;
}

.chart-subtitle { 
  font-size: 14px;
  display:block;
}

.chart-source { 
  font-size: 12px;
  display:block;

}

.buttonHolder {
  display:block;
  margin-top:20px;
}

.animatebutton{
  position:relative;
  background-color:#2e6e9e;
  padding:5px;
  border-radius:5px;
  color:white;
  border:1px solid #275e86;
  transition:0.3s;
  cursor:pointer;
  pointer-events:all;
  float:left;
  line-height:20px;
  margin-right:5px;
}

.animatebutton:hover{
  background-color:#275e86;
}

.animatebutton.hidden{
  opacity:0.3;
  pointer-events:none;
}


.slideCounter{min-width:32px;
  text-align:center;
  position:relative;
  padding:5px 2px;
  border-radius:0px;
  color:#43423e;
  border:0px solid #275e86;
  transition:0.3s;
  cursor:default;
  pointer-events:all;
  float:left;
  line-height:20px;
  margin:0px 3px;
}

.backbutton{
  position:relative;
  background-color:#2e6e9e;
  padding:5px;
  border-radius:5px;
  color:white;
  border:1px solid #275e86;
  transition:0.3s;
  cursor:pointer;
  pointer-events:all;
  float:left;
  line-height:20px;
  margin-left:5px;
}

.backbutton:hover{
  background-color:#275e86;
}

.backbutton.hidden{
  opacity:0.3;
  pointer-events:none;
}

.circles { 
  fill-opacity: 0.4;
  stroke-width: 1px;
}

.secLine {
  'stroke-width':2;
  'stroke':'black';
}

.axis path, .axis line {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: $font-sans;
  font-size: 11px;
}

#y-axis text {
  text-anchor:end;
}
