@import 'n-normalize/main';
@import 'o-colors/main';

$font-sans: MetricWeb, sans-serif;
$font-serif: Georgia, serif;
$font-display: FinancierDisplayWeb, Georgia, serif;

body {
  @include oColorsFor(page, background);

  margin: 0;
  border: 0;
  font-family: $font-sans;
}


.site-header {
  padding: 18px 0 14px;
  text-align: center;
  border-bottom: 1px solid #e9decf;

  > a {
    opacity: 0.75;
    &:hover { opacity: 1; }
  }
}
    .masthead {
      height: 18px;
    }

  h1 {
    color: oColorsGetPaletteColor('grey-tint5');
    font-family: $font-display;
    font-weight: normal;
    text-align: center;
    font-size: 2.5em;
    line-height: 46px;
    margin: 2.2rem 0 0;
  }
  h2 {
    color: oColorsGetPaletteColor('grey-tint2');
    font-family: $font-display;
    font-weight: normal;
    font-size: 1.3em;
    max-width: 660px;
    margin: 1em auto 12px;
  }

  h6 {
  max-width: 600px;
  margin: 0 auto;
  color: oColorsGetPaletteColor('claret');
  font-family: $font-display;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  margin-top: 5px;
  font-size: 0.95em;
  > .bullet {
    margin: 0 10px;
    }
  }

  .timestamp{
  color: oColorsGetPaletteColor('warm-6');
  font-family: $font-sans;
  font-size: 12px;
  font-style: normal;

  }

.social-icon-wrapper{

    display: flex;
    justify-content: center;
    align-content: space-around;
    margin: 30px auto;
  
}

.o-ft-icons-icon{
    width: 40px;
    font-size: 28px;
    opacity: .3;


}


p {
  color: oColorsGetPaletteColor('grey-tint5');
  font-family: $font-serif;
  font-size: 16px;
  line-height: 24px;
  max-width: 660px;
  margin: 1em auto;
  padding: 0 10px;
}

text {
  font-family: $font-sans;
}

.about-data-link {
   color: #27757b ;
   border-bottom: 1px dotted #27757b ;
   text-decoration: none;
}

.o-grid-container {
  margin-top: 30px;
  }

.viz {
  border-top: 1px solid oColorsGetPaletteColor('pink-tint2');
  border-bottom: 1px solid oColorsGetPaletteColor('pink-tint2');
  margin: 0 auto;
}

rect {
  stroke-width: 1px;
  stroke: #ccc;
}

.label { 
  text-anchor: end; 
}


.chart-title { 


  padding:20px 10px;
  font-size: 24px;
  font-weight: 200;
  display:block;
}

.chart-subtitle { 
  font-size: 18px;
  display:block;
}

.chart-source { 
  font-size: 12px;
  display:block;

}

.buttonHolder {
  display:block;
  margin-top:20px;
}

.animatebutton{
  position:relative;
  background-color:#2e6e9e;
  padding:5px;
  border-radius:5px;
  color:white;
  border:1px solid #275e86;
  transition:0.3s;
  cursor:pointer;
  pointer-events:all;
  float:left;
  line-height:20px;
  margin-right:5px;
}

.animatebutton:hover{
  background-color:#275e86;
}

.animatebutton.hidden{
  opacity:0.3;
  pointer-events:none;
}


.slideCounter{min-width:32px;
  text-align:center;
  position:relative;
  padding:5px 2px;
  border-radius:0px;
  color:#43423e;
  border:0px solid #275e86;
  transition:0.3s;
  cursor:default;
  pointer-events:all;
  float:left;
  line-height:20px;
  margin:0px 3px;
}

.backbutton{
  position:relative;
  background-color:#2e6e9e;
  padding:5px;
  border-radius:5px;
  color:white;
  border:1px solid #275e86;
  transition:0.3s;
  cursor:pointer;
  pointer-events:all;
  float:left;
  line-height:20px;
  margin-left:5px;
}

.backbutton:hover{
  background-color:#275e86;
}

.backbutton.hidden{
  opacity:0.3;
  pointer-events:none;
}

.resetbutton{
  position:relative;
  background-color:#2e6e9e;
  padding:5px;
  border-radius:5px;
  color:white;
  border:1px solid #275e86;
  transition:0.3s;
  cursor:pointer;
  pointer-events:all;
  float:left;
  line-height:20px;
  margin-left:5px;
}

.resetbutton:hover{
  background-color:#275e86;
}

.resetbutton.hidden{
  opacity:0.3;
  pointer-events:none;
}

.circles { 
  fill-opacity: 0.4;
  stroke-width: 1px;
}

.circles.highlight {
  fill: black;
}

.secLine {
  opacity:0;
}

.cumulativeRect {
  opacity:0.1;
}

.axes path, .axes line {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
}

.axes text {
  font-family: $font-sans;
  font-size: 11px;
}

#yAxis text {
  text-anchor:end;
}
